<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>736271979555-i64ttpdq7q416n3p964j14qj4kncgcmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736271979555-i64ttpdq7q416n3p964j14qj4kncgcmt</string>
	<key>API_KEY</key>
	<string>AIzaSyDxgfCfaPSOunzt_AZkhbu6Xbw8tX3hcH8</string>
	<key>GCM_SENDER_ID</key>
	<string>736271979555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mo.Curves</string>
	<key>PROJECT_ID</key>
	<string>curves-a8117</string>
	<key>STORAGE_BUCKET</key>
	<string>curves-a8117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:736271979555:ios:6ae245e8b3307850</string>
	<key>DATABASE_URL</key>
	<string>https://curves-a8117.firebaseio.com</string>
</dict>
</plist>